<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KursachEntities" connectionString="metadata=res://*/Kurs.csdl|res://*/Kurs.ssdl|res://*/Kurs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8H80010\SQLEXPRESS;initial catalog=Kursach;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>